*{
	font-family:Arial, Verdana, sans-serif;
	color:#ff00e6;
	text-align:center;
}

body{
	width:800px;
	margin:0 auto;
}

nav{
	background-color:#ffcffa;
	padding:10px;
	margin:10px;
	list-style-type:none;
}

li{
	display:inline;
	padding:3px;
	margin:3px;
	list-style-type:none;
}

ul{
	list-style-type:none;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color:#9c2edb;
		padding: 10px;
		margin: 10px;
		font-style: bold;
}

article {
	background-color:#be8adb;
		padding: 10px;
		margin: 10px;
		width: 280px;
		float: left;
		text-align: center;


}
